// Fonts
$text-font: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// Colors
$menu-text-color: rgb(170,195,190);
$logo-color: rgb(0, 0, 0);
$background-color: rgb(238,248,246);